{% extends 'base.html' %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pages</title>
    
{% block content %}
<h1>home page</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates sed id, quis eveniet deleniti minus voluptate, dolore ex ad dolor dolorem hic, autem nobis provident. Repellat iure, hic distinctio nesciunt ipsa autem ducimus illo maxime sunt consequatur, quia ratione, animi blanditiis dolore fugiat cumque deserunt nemo. Nam delectus laudantium, eveniet quod consequatur aliquid, ex eius, voluptatibus exercitationem maiores assumenda quos dignissimos commodi nemo? Itaque qui voluptates blanditiis praesentium officiis, perferendis atque commodi laudantium nostrum, repellat voluptas laboriosam, aliquam iste expedita corporis ducimus eveniet necessitatibus sed consequatur. Dicta, neque tempore porro excepturi magni culpa dolore odio debitis, beatae accusamus, nisi facere.</p>
{% endblock content %}